<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/login.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class='box-login box-shadow'>
	<h1>Login</h1>
	<form class="login-form" method="post">
		<div class='box-user'>
			<input type="email" placeholder="Email" name="username" required>
		</div>
		<div class='box-user'>
			<input type="password" name="password" placeholder="Password" required>
		</div>
		<div class='box-btn'>
			<button>Login</button>
		</div>
	</form> <br /> <br />
	<p>Create a New User <a href="register">Register</a></p>
</div>
</body>
</html>